{% extends 'base.html.twig' %}

{% block title %}Commandeitem index{% endblock %}

{% block body %}
    <h1>Commandeitem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idcommandeitem</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commandeitem in commandeitems %}
            <tr>
                <td>{{ commandeitem.idcommandeitem }}</td>
                <td>{{ commandeitem.quantity }}</td>
                <td>
                    <a href="{{ path('app_commandeitem_show', {'idcommandeitem': commandeitem.idcommandeitem}) }}">show</a>
                    <a href="{{ path('app_commandeitem_edit', {'idcommandeitem': commandeitem.idcommandeitem}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commandeitem_new') }}">Create new</a>
{% endblock %}
