{% extends 'base.html.twig' %}

{% block title %}ParticipationEvenement index{% endblock %}

{% block body %}
    <h1>ParticipationEvenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdParticipation</th>
                <th>IdUser</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participation_evenement in participation_evenements %}
            <tr>
                <td>{{ participation_evenement.idParticipation }}</td>
                <td>{{ participation_evenement.idUser }}</td>
                <td>{{ participation_evenement.quantity }}</td>
                <td>
                    <a href="{{ path('app_participation_evenement_show', {'idParticipation': participation_evenement.idParticipation}) }}">show</a>
                    <a href="{{ path('app_participation_evenement_edit', {'idParticipation': participation_evenement.idParticipation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_participation_evenement_new') }}">Create new</a>
{% endblock %}
