{% extends 'base.html.twig' %}

{% block title %}Commentairecinema index{% endblock %}

{% block body %}
    <h1>Commentairecinema index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idclient</th>
                <th>Idcinema</th>
                <th>Commentaire</th>
                <th>Sentiment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentairecinema in commentairecinemas %}
            <tr>
                <td>{{ commentairecinema.id }}</td>
                <td>{{ commentairecinema.idclient }}</td>
                <td>{{ commentairecinema.idcinema }}</td>
                <td>{{ commentairecinema.commentaire }}</td>
                <td>{{ commentairecinema.sentiment }}</td>
                <td>
                    <a href="{{ path('app_commentairecinema_show', {'id': commentairecinema.id}) }}">show</a>
                    <a href="{{ path('app_commentairecinema_edit', {'id': commentairecinema.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commentairecinema_new') }}">Create new</a>
{% endblock %}
