{% extends 'base.html.twig' %}

{% block title %}Commentairecinema{% endblock %}

{% block body %}
    <h1>Commentairecinema</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentairecinema.id }}</td>
            </tr>
            <tr>
                <th>Idclient</th>
                <td>{{ commentairecinema.idclient }}</td>
            </tr>
            <tr>
                <th>Idcinema</th>
                <td>{{ commentairecinema.idcinema }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ commentairecinema.commentaire }}</td>
            </tr>
            <tr>
                <th>Sentiment</th>
                <td>{{ commentairecinema.sentiment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commentairecinema_index') }}">back to list</a>

    <a href="{{ path('app_commentairecinema_edit', {'id': commentairecinema.id}) }}">edit</a>

    {{ include('commentairecinema/_delete_form.html.twig') }}
{% endblock %}
