{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block body %}
    <h1>Series index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idserie</th>
                <th>Nom</th>
                <th>Resume</th>
                <th>Directeur</th>
                <th>Pays</th>
                <th>Image</th>
                <th>Categories</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for series in series %}
            <tr>
                <td>{{ series.idserie }}</td>
                <td>{{ series.nom }}</td>
                <td>{{ series.resume }}</td>
                <td>{{ series.directeur }}</td>
                <td>{{ series.pays }}</td>
                <td>{{ series.image }}</td>
       <td>
    {% if series.idcategorie is not null %}
        {{ series.idcategorie.nom }}
    {% else %}
        Aucune catégorie associée
    {% endif %}
    </td>             
          <td>
                    <a href="{{ path('app_series_show', {'idserie': series.idserie}) }}">show</a>
                    <a href="{{ path('app_series_edit', {'idserie': series.idserie}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_series_new') }}">Create new</a>
{% endblock %}
