{% extends 'base.html.twig' %}

{% block title %}Actorfilm{% endblock %}

{% block body %}
    <h1>Actorfilm</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idactor</th>
                <td>{{ actorfilm.idactor }}</td>
            </tr>
            <tr>
                <th>Idfilm</th>
                <td>{{ actorfilm.idfilm }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_actorfilm_index') }}">back to list</a>

    <a href="{{ path('app_actorfilm_edit', {'idactor': actorfilm.idactor}) }}">edit</a>

    {{ include('actorfilm/_delete_form.html.twig') }}
{% endblock %}
