<head>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        @page {
            margin: 0cm 0cm;
        }
        
        body {
            margin-top: 3.5cm;
            margin-left: 1cm;
            margin-right: 1cm;
            margin-bottom: 2cm;
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            color: #333333;
            line-height: 1.6;
        }
        
        header {
            
            position: fixed;
            top: 0cm;
            left: 0cm;
            right: 0cm;
            height: 3cm;
            background-color: #AF2E3D;
            color: #ffffff;
            padding: 10px;
            text-align: center;
        }
        
        footer {
            position: fixed;
            bottom: 0cm;
            left: 0cm;
            right: 0cm;
            height: 2cm;
            background-color: #AF2E3D;
            color: #ffffff;
            padding: 10px;
            text-align: center;
        }
        
        .section-title {
            color: #007BFF;
            margin-bottom: 20px;
            text-align: center;
        }
        
        .event-details {
            margin-bottom: 20px;
            margin-left: 30px;
        }
        
        .event-details b {
            color: #333333;
            font-weight: bold;
            margin-right: 10px;
        }
        
        .event-details p {
            margin: 5px 0;
            color: #555555;
        }
        
        .container {
            padding: 15px;
        }
        
        .footer-text {
            font-size: 14px;
        }
        .category {
    margin-left: 5px; /* Adjust this value as needed */
        }
    </style>
</head>
<body>
<header>
    <h2><i class="fas fa-info-circle"></i> Pour plus d'informations :</h2>
    <p><i class="fas fa-envelope"></i> E-mail : Rakcha.event@gmail.com</p>
</header>

<footer>
    <p class="footer-text">© {{ "now"|date("Y") }} RAKCHA. Tous droits réservés.</p>
</footer>

<div class="container">
    <div class="section-title">
        <h1><i class="fas fa-calendar-alt"></i> Détails de l'événement</h1>
    </div>
    <div class="event-details">
        <b><i class="fas fa-tag"></i>Nom de l'événement :</b> <span>{{ evenement.nom }}</span><br>
         <b><i class="fas fa-tags"></i> Catégorie :</b> <span>{{ evenement.idCategorie ? evenement.idCategorie.nomCategorie : 'N/A' }}</span><br>
        <b><i class="fas fa-calendar-day"></i> Date Début :</b> <span>{{ evenement.datedebut ? evenement.datedebut|date('Y-m-d') : 'Non défini' }}</span><br>
        <b><i class="fas fa-calendar-times"></i> Date Fin :</b> <span>{{ evenement.datefin ? evenement.datefin|date('Y-m-d') : 'Non défini' }}</span><br>
        <b><i class="fas fa-map-marked-alt"></i> Lieu :</b> <span>{{ evenement.lieu }}</span><br>
        <b><i class="fas fa-info"></i> État :</b> <span>{{ evenement.etat }}</span><br>
        <b><i class="fas fa-align-left"></i> Description :</b> <span>{{ evenement.description }}</span><br>
        <b><i class="fas fa-image"></i> Affiche Event :</b> <img src="{{ evenement.afficheEvent }}" style="max-width: 80%;"><br>
    </div>
    <div style="text-align: right; font-size: 15px;"><i class="fas fa-clock"></i> Date de création : {{ "now"|date("d/m/Y") }}</div>
</div>

</body>
