{% extends 'base.html.twig' %}

{% block title %}Categories index{% endblock %}

{% block body %}
    <h1>Categories index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idcategorie</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.idcategorie }}</td>
                <td>{{ category.nom }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a href="{{ path('app_categories_show', {'idcategorie': category.idcategorie}) }}">show</a>
                    <a href="{{ path('app_categories_edit', {'idcategorie': category.idcategorie}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categories_new') }}">Create new</a>
{% endblock %}
