{% extends 'base.html.twig' %}

{% block title %}Actor index{% endblock %}

{% block body %}
    <h1>Actor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Biographie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td>{{ actor.id }}</td>
                <td>{{ actor.nom }}</td>
                <td>{{ actor.image }}</td>
                <td>{{ actor.biographie }}</td>
                <td>
                    <a href="{{ path('app_actor_show', {'id': actor.id}) }}">show</a>
                    <a href="{{ path('app_actor_edit', {'id': actor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_actor_new') }}">Create new</a>
{% endblock %}
