{% extends 'base.html.twig' %}

{% block title %}Cinema index{% endblock %}

{% block body %}
    <h1>Cinema index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCinema</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Responsable</th>
                <th>Logo</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cinema in cinemas %}
            <tr>
                <td>{{ cinema.idCinema }}</td>
                <td>{{ cinema.nom }}</td>
                <td>{{ cinema.adresse }}</td>
                <td>{{ cinema.responsable }}</td>
                <td>{{ cinema.logo }}</td>
                <td>{{ cinema.statut }}</td>
                <td>
                    <a href="{{ path('app_cinema_show', {'idCinema': cinema.idCinema}) }}">show</a>
                    <a href="{{ path('app_cinema_edit', {'idCinema': cinema.idCinema}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cinema_new') }}">Create new</a>
{% endblock %}
