{% extends 'baseBack.html.twig' %}

{% block pageStyle %}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet">
{% endblock  %}
{% block title %}Category Event {% endblock %}

{% block body %}
    


    <div class="container mt-5">
        <h1 class="mb-4"><i class="fas fa-list-alt text-primary mr-2"></i>CategorieEvenement Index</h1>

        <div class="row">
            {% for categorie_evenement in categorie_evenements %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-header bg-dark text-white">
                            <i class="fas fa-tag"></i> {{ categorie_evenement.nomCategorie }}
                        </div>
                        <div class="card-body">
                            <p><strong>Description:</strong> {{ categorie_evenement.description }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('app_categorie_evenement_show', {'id': categorie_evenement.id}) }}" class="btn btn-info btn-sm">
                                <i class="fas fa-eye"></i> Show
                            </a>
                            <a href="{{ path('app_categorie_evenement_edit', {'id': categorie_evenement.id}) }}" class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col">
                    <p>No records found</p>
                </div>
            {% endfor %}
        </div>

        <a href="{{ path('app_categorie_evenement_new') }}" class="btn btn-success">
            <i class="fas fa-plus-circle"></i> Create New
        </a>
    </div>
    
{% endblock %}
