{% extends 'base.html.twig' %}

{% block title %}Filmcoment index{% endblock %}

{% block body %}
    <h1>Filmcoment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comment</th>
                <th>UserId</th>
                <th>FilmId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for filmcoment in filmcoments %}
            <tr>
                <td>{{ filmcoment.id }}</td>
                <td>{{ filmcoment.comment }}</td>
                <td>{{ filmcoment.userId }}</td>
                <td>{{ filmcoment.filmId }}</td>
                <td>
                    <a href="{{ path('app_filmcoment_show', {'id': filmcoment.id}) }}">show</a>
                    <a href="{{ path('app_filmcoment_edit', {'id': filmcoment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_filmcoment_new') }}">Create new</a>
{% endblock %}
