{% extends 'base.html.twig' %}

{% block title %}Filmcoment{% endblock %}

{% block body %}
    <h1>Filmcoment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ filmcoment.id }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ filmcoment.comment }}</td>
            </tr>
            <tr>
                <th>UserId</th>
                <td>{{ filmcoment.userId }}</td>
            </tr>
            <tr>
                <th>FilmId</th>
                <td>{{ filmcoment.filmId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_filmcoment_index') }}">back to list</a>

    <a href="{{ path('app_filmcoment_edit', {'id': filmcoment.id}) }}">edit</a>

    {{ include('filmcoment/_delete_form.html.twig') }}
{% endblock %}
