{% extends 'base.html.twig' %}

{% block title %}Episodes index{% endblock %}

{% block body %}
    <h1>Episodes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idepisode</th>
                <th>Titre</th>
                <th>Numeroepisode</th>
                <th>Saison</th>
                <th>Image</th>
                <th>Video</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.idepisode }}</td>
                <td>{{ episode.titre }}</td>
                <td>{{ episode.numeroepisode }}</td>
                <td>{{ episode.saison }}</td>
                <td>{{ episode.image }}</td>
                <td>{{ episode.video }}</td>
                <td>
                    <a href="{{ path('app_episodes_show', {'idepisode': episode.idepisode}) }}">show</a>
                    <a href="{{ path('app_episodes_edit', {'idepisode': episode.idepisode}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_episodes_new') }}">Create new</a>
{% endblock %}
