{% extends 'baseFront.html.twig' %}

{% block pageStyle %}<link href="{{ asset('css/blog.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<body>

		{{ block("header") }}

		<section id="center" class="center_o pt-2 pb-2">
			<div class="container-xl">
				<div class="row center_o1">
					<div class="col-md-5">
						<div class="center_o1l">
							<h2 class="mb-0">Blog Detail</h2>
						</div>
					</div>
					<div class="col-md-7">
						<div class="center_o1r text-end">
							<h6 class="mb-0 col_red">
								<a href="#">Home</a>
								<span class="me-2 ms-2 text-light">
									<i class="fa fa-caret-right align-middle"></i>
								</span>
								Blog Detail</h6>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="blog" class="pt-4 pb-4 bg_grey">
			<div class="container-xl">
				<div class="row blog_1">
					<div class="col-md-8">
						<div class="blog_1l">
							<div class="blog_1l1">
								<div class="popular_2i1lm position-relative clearfix">
									<div class="popular_2i1lm1 clearfix">
										<div class="grid">
											<figure class="effect-jazz mb-0">
												<a href="#"><img src="{{ asset('img/2.jpg') }}" height="450" class="w-100" alt="img25"></a>
											</figure>
										</div>
									</div>
									<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
										<ul>
											<li class="d-inline-block">
												<a href="#">
													<i class="fa fa-link col_red"></i>
												</a>
											</li>
											<li class="d-inline-block">
												<a href="#">
													<i class="fa fa-search col_red"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="blog_1l1i mt-3">
									<h5>
										<i class="fa fa-folder-open col_red me-1"></i>
										Movie News</h5>
									<h2 class="mt-3">
										<a class="col_red" href="#">Company Foundation Provides  Grant to Emory Law
										</a>
									</h2>
									<h6 class="fw-normal mt-3 col_light">
										<span>
											<i class="fa fa-clock-o me-1 align-middle col_red"></i>
											14 December 2021</span>
										<span class="ms-3">
											<i class="fa fa-user me-1 align-middle col_red"></i>
											Admin</span>
										<span class="ms-3">
											<i class="fa fa-comment me-1 align-middle col_red"></i>
											Comment</span>
									</h6>
									<p class="mt-3">Consectetuer adipiscing elit sedare diam nonummy nibh euismod estat tinciduntal ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minimatisa veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl. Name liber tempor cum soluta nobis eleifend option congue nihil imperdietes</p>
								</div>
							</div>
							<div class="blog_1l2">
								<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen It has urvived not only five centuries, but also the leap into electronic typesetting.</p>
								<blockquote class="blockquote bg_dark p-4 pt-3 mt-4">
									<p>Provident fugiat tempora architecto mollitia quos maiores perspiciatis obcaecati placeat aunty koi thako Architecto eaque accusamus minima in earum impedit atque</p>
									<h6 class="fw-normal mb-0">
										<strong>- Dapibus Diam
										</strong>of Google Inc.</h6>
								</blockquote>
								<p>It was popularised in the 1980s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including text are in so Ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation quis nostrud exercitation quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt iest laborum.</p>
								<ul>
									<li class="d-inline-block me-3">
										<a href="#">
											<i class="fa fa-tag me-1 col_red"></i>
											Blog</a>
									</li>
									<li class="d-inline-block me-3">
										<a href="#">
											<i class="fa fa-tag me-1 col_red"></i>
											Creative</a>
									</li>
									<li class="d-inline-block me-3">
										<a href="#">
											<i class="fa fa-tag me-1 col_red"></i>
											Business</a>
									</li>
									<li class="d-inline-block">
										<a href="#">
											<i class="fa fa-tag me-1 col_red"></i>
											News</a>
									</li>
								</ul>
								<ul class="social-network social-circle mb-0 mt-3">
									<li>
										<a href="#" class="icoRss" title="Rss">
											<i class="fa fa-skype"></i>
										</a>
									</li>
									<li>
										<a href="#" class="icoFacebook" title="Facebook">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#" class="icoTwitter" title="Twitter">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#" class="icoGoogle" title="Google +">
											<i class="fa fa-instagram"></i>
										</a>
									</li>
									<li>
										<a href="#" class="icoLinkedin" title="Linkedin">
											<i class="fa fa-linkedin"></i>
										</a>
									</li>
								</ul>
							</div>
							<div class="blog_1l3 mt-4">
								<h3>Related Blogs</h3>
							</div>
							<div class="blog_1l4 mt-3">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="{{ asset('img/32.jpg') }}" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block">
														<a href="#">
															<i class="fa fa-link col_red"></i>
														</a>
													</li>
													<li class="d-inline-block">
														<a href="#">
															<i class="fa fa-search col_red"></i>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5>
												<a class="col_red" href="#">Eget Diam</a>
											</h5>
											<h6>Action, Thriller</h6>
											<h6>
												Imdb 8.3
												<span class="ms-2">
													<i class="fa fa-star col_red me-1"></i>
												</span>
												Year : 2022
												<span class="ms-2">Runtime: 2h 29m</span>
											</h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0">
												<a class="button" href="#">
													More Info - Trailer</a>
											</h6>
										</div>
									</div>
								</div>
								<div class="popular_2i1 mt-3 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="{{ asset('img/33.jpg') }}" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block">
														<a href="#">
															<i class="fa fa-link col_red"></i>
														</a>
													</li>
													<li class="d-inline-block">
														<a href="#">
															<i class="fa fa-search col_red"></i>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5>
												<a class="col_red" href="#">Eget Diam</a>
											</h5>
											<h6>Action, Thriller</h6>
											<h6>
												Imdb 8.3
												<span class="ms-2">
													<i class="fa fa-star col_red me-1"></i>
												</span>
												Year : 2022
												<span class="ms-2">Runtime: 2h 29m</span>
											</h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0">
												<a class="button" href="#">
													More Info - Trailer</a>
											</h6>
										</div>
									</div>
								</div>
							</div>
							<div class="blog_1l3 mt-4">
								<h3>Recent Comments</h3>
							</div>
							<div class="blog_1l5 mt-3">
								<div class="blog_1l5i row">
									<div class="col-md-2 col-2 pe-0">
										<div class="blog_1l5il">
											<img src="{{ asset('img/34.jpg') }}" class="w-100" alt="abc">
										</div>
									</div>
									<div class="col-md-10 col-10">
										<div class="blog_1l5ir">
											<h5>
												<a href="#">Mr Eget Nulla</a>
												<span class="font_14 col_light">/ 13 July 2017</span>
											</h5>
											<p class="font_14">Hi, this is a comment.<br>
												To delete a comment, just log in and view the post's comments. There you will have the option to edit or delete them.</p>
											<h6 class="font_14 mb-0 mt-3">
												<a class="button p-3 pt-2 pb-2" href="#">
													Reply</a>
											</h6>
										</div>
									</div>
								</div><hr>
								<div class="blog_1l5i row">
									<div class="col-md-2 col-2 pe-0">
										<div class="blog_1l5il">
											<img src="{{ asset('img/35.jpg') }}" class="w-100" alt="abc">
										</div>
									</div>
									<div class="col-md-10 col-10">
										<div class="blog_1l5ir">
											<h5>
												<a href="#">Mr Semp Porta</a>
												<span class="font_14 col_light">/ 13 July 2017</span>
											</h5>
											<p class="font_14">Hi, this is a comment.<br>
												To delete a comment, just log in and view the post's comments. There you will have the option to edit or delete them.</p>
											<h6 class="font_14 mb-0 mt-3">
												<a class="button p-3 pt-2 pb-2" href="#">
													Reply</a>
											</h6>
										</div>
									</div>
								</div><hr>
								<div class="blog_1l5i row">
									<div class="col-md-2 col-2 pe-0">
										<div class="blog_1l5il">
											<img src="{{ asset('img/36.jpg') }}" class="w-100" alt="abc">
										</div>
									</div>
									<div class="col-md-10 col-10">
										<div class="blog_1l5ir">
											<h5>
												<a href="#">Mr Quis Sem</a>
												<span class="font_14 col_light">/ 13 July 2017</span>
											</h5>
											<p class="font_14">Hi, this is a comment.<br>
												To delete a comment, just log in and view the post's comments. There you will have the option to edit or delete them.</p>
											<h6 class="font_14 mb-0 mt-3">
												<a class="button p-3 pt-2 pb-2" href="#">
													Reply</a>
											</h6>
										</div>
									</div>
								</div>
							</div>
							<div class="blog_1l3 mt-4">
								<h3>Leave a  Comment</h3>
							</div>
							<div class="blog_1l6 mt-3">
								<div class="blog_1dt5 row mt-3">
									<div class="col-md-6">
										<div class="blog_1dt5l">
											<textarea placeholder="Comment" class="form-control form_text"></textarea>
											<div class="form-check mt-3">
												<input type="checkbox" class="form-check-input" id="customCheck1">
												<label class="form-check-label" for="customCheck1">Save my name and email in this browser for the next time I comment.</label>
											</div>
											<h6 class="mt-3 mb-0">
												<a class="button" href="#">
													Comment</a>
											</h6>
										</div>
									</div>
									<div class="col-md-6">
										<div class="blog_1dt5l">
											<input class="form-control" placeholder="Name" type="text">
											<input class="form-control mt-3" placeholder="Website" type="text">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="blog_1r">
							<div class="blog_1r1 p-4">
								<h4>Main
									<span class="col_red">Menu</span>
								</h4>
								<hr class="line mb-4">
								<h6>
									<a href="blog_detail.html.twig">
										<i class="fa fa-chevron-right me-1 col_red font_12"></i>
										Audio
										<span class="pull-right">(12)</span>
									</a>
								</h6>
								<hr>
								<h6>
									<a href="blog_detail.html.twig">
										<i class="fa fa-chevron-right me-1 col_red font_12"></i>
										Magazine
										<span class="pull-right">(03)</span>
									</a>
								</h6>
								<hr>
								<h6>
									<a href="blog_detail.html.twig">
										<i class="fa fa-chevron-right me-1 col_red font_12"></i>
										News
										<span class="pull-right">(08)</span>
									</a>
								</h6>
								<hr>
								<h6>
									<a href="blog_detail.html.twig">
										<i class="fa fa-chevron-right me-1 col_red font_12"></i>
										Photoshop
										<span class="pull-right">(12)</span>
									</a>
								</h6>
								<hr>
								<h6>
									<a href="blog_detail.html.twig">
										<i class="fa fa-chevron-right me-1 col_red font_12"></i>
										Technical
										<span class="pull-right">(07)</span>
									</a>
								</h6>
								<hr>
								<h6>
									<a href="blog_detail.html.twig">
										<i class="fa fa-chevron-right me-1 col_red font_12"></i>
										Uncategorized
										<span class="pull-right">(09)</span>
									</a>
								</h6>
								<hr>
								<h6 class="mb-0">
									<a href="blog_detail.html.twig">
										<i class="fa fa-chevron-right me-1 col_red font_12"></i>
										Video
										<span class="pull-right">(04)</span>
									</a>
								</h6>
							</div>
							<div class="blog_1r1 p-4 mt-4">
								<h4>Sidebar
									<span class="col_red">News</span>
								</h4>
								<hr class="line mb-4">
								<div class="blog_1r1i row">
									<div class="col-md-4 col-4">
										<div class="blog_1r1il">
											<div class="grid clearfix">
												<figure class="effect-jazz mb-0">
													<a href="blog_detail.html.twig"><img src="{{ asset('img/4.jpg') }}" class="w-100" alt="abc"></a>
												</figure>
											</div>
										</div>
									</div>
									<div class="col-md-8 ps-0 col-8">
										<div class="blog_1r1ir">
											<h6 class="mb-1">
												<a class="col_red" href="blog_detail.html.twig">Company Foundation Provides</a>
											</h6>
											<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											</p>
										</div>
									</div>
								</div><hr>
								<div class="blog_1r1i row">
									<div class="col-md-4 col-4">
										<div class="blog_1r1il">
											<div class="grid clearfix">
												<figure class="effect-jazz mb-0">
													<a href="blog_detail.html.twig"><img src="{{ asset('img/5.jpg') }}" class="w-100" alt="abc"></a>
												</figure>
											</div>
										</div>
									</div>
									<div class="col-md-8 ps-0 col-8">
										<div class="blog_1r1ir">
											<h6 class="mb-1">
												<a class="col_red" href="blog_detail.html.twig">Company Foundation Provides</a>
											</h6>
											<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											</p>
										</div>
									</div>
								</div><hr>
								<div class="blog_1r1i row">
									<div class="col-md-4 col-4">
										<div class="blog_1r1il">
											<div class="grid clearfix">
												<figure class="effect-jazz mb-0">
													<a href="blog_detail.html.twig"><img src="{{ asset('img/6.jpg') }}" class="w-100" alt="abc"></a>
												</figure>
											</div>
										</div>
									</div>
									<div class="col-md-8 ps-0 col-8">
										<div class="blog_1r1ir">
											<h6 class="mb-1">
												<a class="col_red" href="blog_detail.html.twig">Company Foundation Provides</a>
											</h6>
											<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											</p>
										</div>
									</div>
								</div><hr>
								<div class="blog_1r1i row">
									<div class="col-md-4 col-4">
										<div class="blog_1r1il">
											<div class="grid clearfix">
												<figure class="effect-jazz mb-0">
													<a href="blog_detail.html.twig"><img src="{{ asset('img/7.jpg') }}" class="w-100" alt="abc"></a>
												</figure>
											</div>
										</div>
									</div>
									<div class="col-md-8 ps-0 col-8">
										<div class="blog_1r1ir">
											<h6 class="mb-1">
												<a class="col_red" href="blog_detail.html.twig">Company Foundation Provides</a>
											</h6>
											<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="blog_1r1 p-4 mt-4">
								<h4>Accordion
									<span class="col_red">Module</span>
								</h4>
								<hr class="line mb-4">
								<div class="accordion" id="accordionExample">
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingOne">
											<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												Vestibulum Ante Ipsum Prin Orci
											</button>
										</h2>
										<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
											<div class="accordion-body">
												Lorem ipsum dolor sit amet consec tetuer adipiscing elit Suspendissete justo consec tetuer elite.consectetuer adipiscing hendrerit augue .
											</div>
										</div>
									</div>

									<div class="accordion-item">
										<h2 class="accordion-header" id="headingTwo">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												Cras Eleifend Lacus Ullamcorper
											</button>
										</h2>
										<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
											<div class="accordion-body">
												Lorem ipsum dolor sit amet consec tetuer adipiscing elit Suspendissete justo consec tetuer elite.consectetuer adipiscing hendrerit augue .
											</div>
										</div>
									</div>

									<div class="accordion-item">
										<h2 class="accordion-header" id="headingThree">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												Suspendisse Lacinia Turpis Convallis
											</button>
										</h2>
										<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
											<div class="accordion-body">
												Lorem ipsum dolor sit amet consec tetuer adipiscing elit Suspendissete justo consec tetuer elite.consectetuer adipiscing hendrerit augue .
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="blog_1r1 p-4 mt-4">
								<h4>Login
									<span class="col_red">Form</span>
								</h4>
								<hr class="line mb-4">
								<div class="input-group input-group-merge">
									<div class="input-group-text bg-transparent text-white border-right-0" data-password="false">
										<span class="fa fa-user"></span>
									</div>
									<input type="username" id="username" class="form-control bg-transparent" placeholder="Username">

								</div>
								<div class="input-group input-group-merge mt-3">
									<div class="input-group-text bg-transparent text-white border-right-0" data-password="false">
										<span class="fa fa-user"></span>
									</div>
									<input type="password" id="username" class="form-control bg-transparent" placeholder="password">

								</div>
								<div class="form-check mt-3">
									<input type="checkbox" class="form-check-input" id="checkmeout0">
									<label class="form-check-label" for="checkmeout0">Remember Me</label>
								</div>
								<h6 class="mt-3">
									<a class="button" href="blog_detail.html.twig">
										<i class="fa fa-long-arrow-right align-middle me-1"></i>
										Login</a>
								</h6>
								<h6 class="mt-3">
									<a class="col_red" href="blog_detail.html.twig">Create an account
										<i class="fa fa-long-arrow-right ms-1"></i>
									</a>
								</h6>
								<h6 class="mt-3">
									<a class="col_red" href="blog_detail.html.twig">Forgot your username?
									</a>
								</h6>
								<h6 class="mt-3 mb-0">
									<a class="col_red" href="blog_detail.html.twig">Forgot your password?
									</a>
								</h6>
							</div>
							<div class="blog_1r1 p-4 mt-4">
								<h4>Popular
									<span class="col_red">Tags</span>
								</h4>
								<hr class="line mb-4">
								<ul class="mb-0">
									<li class="d-inline-block">
										<a class="d-block" href="blog_detail.html.twig">Analyze</a>
									</li>
									<li class="d-inline-block">
										<a class="d-block" href="blog_detail.html.twig">Audio</a>
									</li>
									<li class="d-inline-block">
										<a class="d-block" href="blog_detail.html.twig">Blog</a>
									</li>
									<li class="d-inline-block">
										<a class="d-block" href="blog_detail.html.twig">Business</a>
									</li>
									<li class="d-inline-block">
										<a class="d-block" href="blog_detail.html.twig">Creative</a>
									</li>
									<li class="d-inline-block">
										<a class="d-block" href="blog_detail.html.twig">Design</a>
									</li>
									<li class="d-inline-block">
										<a class="d-block" href="blog_detail.html.twig">Experiment</a>
									</li>
									<li class="d-inline-block">
										<a class="d-block" href="blog_detail.html.twig">News</a>
									</li>
									<li class="d-inline-block">
										<a class="d-block" href="blog_detail.html.twig">Expertize</a>
									</li>
									<li class="d-inline-block">
										<a class="d-block" href="blog_detail.html.twig">Express</a>
									</li>
									<li class="d-inline-block">
										<a class="d-block" href="blog_detail.html.twig">Share</a>
									</li>
									<li class="d-inline-block">
										<a class="d-block" href="blog_detail.html.twig">Sustain</a>
									</li>
									<li class="d-inline-block">
										<a class="d-block" href="blog_detail.html.twig">Video</a>
									</li>
									<li class="d-inline-block">
										<a class="d-block" href="blog_detail.html.twig">Youtube</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		{{ block("footer") }}

		<script>
			window.onscroll = function () {
myFunction()
};

var navbar_sticky = document.getElementById("navbar_sticky");
var sticky = navbar_sticky.offsetTop;
var navbar_height = document.querySelector('.navbar').offsetHeight;

function myFunction() {
if (window.pageYOffset >= sticky + navbar_height) {
navbar_sticky.classList.add("sticky")
document.body.style.paddingTop = navbar_height + 'px';
} else {
navbar_sticky.classList.remove("sticky");
document.body.style.paddingTop = '0'
}
}
		</script>
	</body>
{% endblock %}
