{% extends 'baseFront.html.twig' %}

{% block pageStyle %}<link href="{{ asset('css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<body>

		{{ block("header") }}

		<section id="center" class="center_home">
			<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					{% for film in films %}
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %} aria-label="Slide {{ loop.index }}"></button>
					{% endfor %}
				</div>
				<div class="carousel-inner">
					{% for film in films %}
						<div class="carousel-item {% if loop.first %}active{% endif %}">
							<img src="{{ asset(film.image) }}" class="d-block w-100" alt="..." style="height: 80vh;" alt="...">
							<div class="carousel-caption d-md-block">
								<h1 class="font_60">{{ film.nom }}</h1>
								<h6 class="mt-3">
									<span class="col_red me-3">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
									</span>
									{# {{ film.rating }} (Imdb)    #}
									Year :
									{{ film.annederalisation }}
									<a class="bg_red p-2 pe-4 ps-4 ms-3 text-white d-inline-block" href="#">
										{% for category in film.categorys %}
											{{ category.nom }}
											{% if not loop.last %},
											{% endif %}
										{% endfor %}
									</a>
								</h6>
								<p class="mt-3">{{ film.description }}</p>
								<p class="mb-2">
									<span class="col_red me-1 fw-bold">Starring:</span>
									{% for actor in film.actors %}
										{{ actor.nom }}
										{% if not loop.last %},
										{% endif %}
									{% endfor %}
								</p>
								<p>
									<span class="col_red me-1 fw-bold">Runtime:</span>
									{{ film.duree|date('H:i') }}
								</p>
								<h6 class="mt-4">
									<a class="button" href="{{path('app_filShow_index',{'id':film.id})}}" style="margin-left: 66px;">
										<i class="fa fa-play-circle align-middle me-1"></i>
										Read More</a>
								</h6>
							</div>
						</div>
					{% endfor %}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</section>

		<section id="trend" class="pt-4 pb-5">
			<div class="container">
				<div class="row trend_1">
					<div class="col-md-6 col-6">
						<div class="trend_1l">
							<h4 class="mb-0">
								<i class="fa fa-youtube-play align-middle col_red me-1"></i>
								Latest
								<span class="col_red">Series</span>
							</h4>
						</div>
					</div>
					<div class="col-md-6 col-6">
						<div class="trend_1r text-end">
							<h6 class="mb-0">
								<a class="button" href="{{path('app_series_liste')}}">
									View All</a>
							</h6>
						</div>
					</div>
				</div>
				<div class="row trend_2 mt-4">
					<div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
							<button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1" aria-label="Slide 2" class="" aria-current="true"></button>
						</div>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="trend_2i row">
									<div class="col-md-3 col-6">
										<div class="trend_2im clearfix position-relative">
											<div class="trend_2im1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="{{ asset('img/template/friend.jpg') }}" class="w-100" alt="" height="400"></a>
													</figure>
												</div>
											</div>

										</div>
										<div class="trend_2ilast bg_grey p-3 clearfix">
											<h5>
												<a class="col_red" href="#">Friends</a>
											</h5>
											<p class="mb-2">
												The story tells the adventures of three young women and three young men from New York linked by a deep friendship...</p>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">1 Views</p>
										</div>
									</div>
									<div class="col-md-3 col-6">
										<div class="trend_2im clearfix position-relative">
											<div class="trend_2im1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="{{ asset('img/template/lucifer.jpg') }}" class="w-100" alt="img25" height="400"></a>
													</figure>
												</div>
											</div>

										</div>
										<div class="trend_2ilast bg_grey p-3 clearfix">
											<h5>
												<a class="col_red" href="#">Lucifer</a>
											</h5>
											<p class="mb-2">Lucifer Morningstar, tired of his role as Lord of the Underworld, decides to abandon his position and settle in Los Angeles where he runs his ...</p>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">1 Views</p>
										</div>
									</div>
									<div class="col-md-3 col-6">
										<div class="trend_2im clearfix position-relative">
											<div class="trend_2im1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="{{ asset('img/template/queen.jpg') }}" class="w-100" alt="img25" height="400"></a>
													</figure>
												</div>
											</div>

										</div>
										<div class="trend_2ilast bg_grey p-3 clearfix">
											<h5>
												<a class="col_red" href="#">Queen's Gumbit</a>
											</h5>
											<p class="mb-2">Elisabeth Harmon, an orphaned chess prodigy, attempts to become the world's best chess player, while battling emotional problems...</p>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">1 Views</p>
										</div>
									</div>
									<div class="col-md-3 col-6">
										<div class="trend_2im clearfix position-relative">
											<div class="trend_2im1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="{{ asset('img/template/skam.jpg') }}" class="w-100" alt="img25" height="400"></a>
													</figure>
												</div>
											</div>

										</div>
										<div class="trend_2ilast bg_grey p-3 clearfix">
											<h5>
												<a class="col_red" href="#">Skam</a>
											</h5>
											<p class="mb-2">Eva is in her second year of high school and has lost contact with her best friends, Ingrid and Sara. She only knows her....</p>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">1 Views</p>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="trend_2i row">
									<div class="col-md-3 col-6">
										<div class="trend_2im clearfix position-relative">
											<div class="trend_2im1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="{{ asset('img/template/Riverdale.jpg') }}" class="w-100" alt="img25" height="400"></a>
													</figure>
												</div>
											</div>

										</div>
										<div class="trend_2ilast bg_grey p-3 clearfix">
											<h5>
												<a class="col_red" href="#">RiverDale</a>
											</h5>
											<p class="mb-2">Beneath its appearance of a quiet small town, Riverdale actually hides dark secrets. As a new school year begins, young Archie Andrews...</p>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">1 Views</p>
										</div>
									</div>
									<div class="col-md-3 col-6">
										<div class="trend_2im clearfix position-relative">
											<div class="trend_2im1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="{{ asset('img/template/comedy.jpg') }}" class="w-100" alt="img25" height="400"></a>
													</figure>
												</div>
											</div>

										</div>
										<div class="trend_2ilast bg_grey p-3 clearfix">
											<h5>
												<a class="col_red" href="#">Comedy Island</a>
											</h5>
											<p class="mb-2">Seven comedians, actors and social media celebrities are drawn to a mysterious island. They soon find themselves competing in games...</p>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">1 Views</p>
										</div>
									</div>
									<div class="col-md-3 col-6">
										<div class="trend_2im clearfix position-relative">
											<div class="trend_2im1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="{{ asset('img/template/you.jpg') }}" class="w-100" alt="img25" height="400"></a>
													</figure>
												</div>
											</div>

										</div>
										<div class="trend_2ilast bg_grey p-3 clearfix">
											<h5>
												<a class="col_red" href="#">You</a>
											</h5>
											<p class="mb-2">A charming bookseller named Joe uses new technologies to attract the pretty novelist Beck and make her fall in love. His obsession with Beck...</p>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">1 Views</p>
										</div>
									</div>
									<div class="col-md-3 col-6">
										<div class="trend_2im clearfix position-relative">
											<div class="trend_2im1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="{{ asset('img/template/Fraiser.jpg') }}" class="w-100" alt="img25" height="400"></a>
													</figure>
												</div>
											</div>

										</div>
										<div class="trend_2ilast bg_grey p-3 clearfix">
											<h5>
												<a class="col_red" href="#">Fraiser</a>
											</h5>
											<p class="mb-2">Dr. Frasier Crane, an eccentric and successful Boston psychiatrist, moves to Seattle for a fresh start. There he gets a radio show...</p>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">1 Views</p>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</section>

		<section id="upcome" class="pt-4 pb-5">
			<div class="container">
				<div class="row trend_1">
					<div class="col-md-6 col-6">
						<div class="trend_1l">
							<h4 class="mb-0">
								<i class="fa fa-youtube-play align-middle col_red me-1"></i>
								Our
								<span class="col_red">Cinemas</span>
							</h4>
						</div>
					</div>
					<div class="col-md-6 col-6">
						<div class="trend_1r text-end">
							<h6 class="mb-0">
								<a class="button" href="{{path('app_cinema_liste')}}">
									View All</a>
							</h6>
						</div>
					</div>
				</div>
				<div class="row trend_2 mt-4">
					<div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
							<button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2" class="" aria-current="true"></button>
						</div>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="trend_2i row">
									<div class="col-md-4">
										<div class="trend_2im clearfix position-relative">
											<div class="trend_2im1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="{{ asset('img/template/pathe.jpeg') }}" class="w-100" alt="img25" height="300"></a>
													</figure>
												</div>
											</div>
										</div>
										<div class="trend_2ilast bg_grey p-3 clearfix">
											<h5>
												<a class="col_red" href="#">Pathé</a>
											</h5>
											<p class="mb-2">Discover all the films showing in the Cinema Pathé theaters...</p>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">1 Views</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="trend_2im clearfix position-relative">
											<div class="trend_2im1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="{{ asset('img/template/agora.jpeg') }}" class="w-100" alt="img25" height="300"></a>
													</figure>
												</div>
											</div>

										</div>
										<div class="trend_2ilast bg_grey p-3 clearfix">
											<h5>
												<a class="col_red" href="#">L'AGORA</a>
											</h5>
											<p class="mb-2">Discover all the films showing in the Cinema L'Agora theaters...</p>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">1 Views</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="trend_2im clearfix position-relative">
											<div class="trend_2im1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="{{ asset('img/template/abc.png') }}" class="w-100" alt="img25" height="300"></a>
													</figure>
												</div>
											</div>

										</div>
										<div class="trend_2ilast bg_grey p-3 clearfix">
											<h5>
												<a class="col_red" href="#">ABC</a>
											</h5>
											<p class="mb-2">
												Discover all the films showing in the Cinema ABC theaters</p>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">1 Views</p>
										</div>
									</div>

								</div>
							</div>
							<div class="carousel-item">
								<div class="trend_2i row">

									<div class="col-md-4">
										<div class="trend_2im clearfix position-relative">
											<div class="trend_2im1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="{{ asset('img/template/dossier/leColiser.jpg') }}" class="w-100" alt="img25" height="300"></a>
													</figure>
												</div>
											</div>

										</div>
										<div class="trend_2ilast bg_grey p-3 clearfix">
											<h5>
												<a class="col_red" href="#">Le Coliser</a>
											</h5>
											<p class="mb-2">
												Discover all the films showing in the Cinema Coliser theaters</p>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">1 Views</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="trend_2im clearfix position-relative">
											<div class="trend_2im1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="{{ asset('img/template/dossier/palace.png') }}" class="w-100" alt="img25" height="300"></a>
													</figure>
												</div>
											</div>

										</div>
										<div class="trend_2ilast bg_grey p-3 clearfix">
											<h5>
												<a class="col_red" href="#">Palace</a>
											</h5>
											<p class="mb-2">
												Discover all the films showing in the Cinema Palace theaters</p>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">1 Views</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="trend_2im clearfix position-relative">
											<div class="trend_2im1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="{{ asset('img/template/dossier/palace.png') }}" class="w-100" alt="img25" height="300"></a>
													</figure>
												</div>
											</div>

										</div>

										<div class="trend_2ilast bg_grey p-3 clearfix">
											<h5>
												<a class="col_red" href="#">VEO</a>
											</h5>
											<p class="mb-2">
												Discover all the films showing in the Cinema VEO theaters</p>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">1 Views</p>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</section>
	</body>
</section>

<section id="upcome" class="pt-4 pb-5">
	<div class="container">
		<div class="row trend_1">
			<div class="col-md-6 col-6">
				<div class="trend_1l">
					<h4 class="mb-0">
						<i class="fa fa-youtube-play align-middle col_red me-1"></i>
						Our
						<span class="col_red">Products</span>
					</h4>
				</div>
			</div>
			<div class="col-md-6 col-6">
				<div class="trend_1r text-end">
					<h6 class="mb-0">
						<a class="button" href="{{path('app_produit_liste')}}">
							View All</a>
					</h6>
				</div>
			</div>
		</div>
		<div class="row trend_2 mt-4">
			<div id="carouselExampleCaptions3" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="1" aria-label="Slide 2" class="" aria-current="true"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="trend_2i row">
							<div class="col-md-4">
								<div class="trend_2im clearfix position-relative">
									<div class="trend_2im1 clearfix">
										<div class="grid">
											<figure class="effect-jazz mb-0">
												<a href="#"><img src="{{ asset('img/template/tableau-sur-toile-Joker-pop-art.jpg') }}" class="w-100" alt="img25" height="350"></a>
											</figure>
										</div>
									</div>

								</div>
								<div class="trend_2ilast bg_grey p-3 clearfix">
									<h5>
										<a class="col_red" href="#">JOKER</a>
									</h5>
									<p class="mb-2">Printed on thick paper (250 g/m²)</p>
									<span class="col_red">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</span>
									<p class="mb-0">1 Views</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="trend_2im clearfix position-relative">
									<div class="trend_2im1 clearfix">
										<div class="grid">
											<figure class="effect-jazz mb-0">
												<a href="#"><img src="{{ asset('img/template/tab1.jpg') }}" class="w-100" alt="img25" height="300"></a>
											</figure>
										</div>
									</div>

								</div>
								<div class="trend_2ilast bg_grey p-3 clearfix">
									<h5>
										<a class="col_red" href="#">Painting</a>
									</h5>
									<p class="mb-2">Maximum color brilliance and high UV
									</p>
									<span class="col_red">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</span>
									<p class="mb-0">1 Views</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="trend_2im clearfix position-relative">
									<div class="trend_2im1 clearfix">
										<div class="grid">
											<figure class="effect-jazz mb-0">
												<a href="#"><img src="{{ asset('img/template/batlman.jpg') }}" class="w-100" alt="img25" height="350"></a>
											</figure>
										</div>
									</div>

								</div>
								<div class="trend_2ilast bg_grey p-3 clearfix">
									<h5>
										<a class="col_red" href="#">Batman</a>
									</h5>
									<p class="mb-2">Printing on thick paper (250 g/m²)</p>
									<span class="col_red">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</span>
									<p class="mb-0">1 Views</p>
								</div>
							</div>

						</div>
					</div>
					<div class="carousel-item">
						<div class="trend_2i row">

							<div class="col-md-4">
								<div class="trend_2im clearfix position-relative">
									<div class="trend_2im1 clearfix">
										<div class="grid">
											<figure class="effect-jazz mb-0">
												<a href="#"><img src="{{ asset('img/template/charlo.jpg') }}" class="w-100" alt="img25" height="350"></a>
											</figure>
										</div>
									</div>

								</div>
								<div class="trend_2ilast bg_grey p-3 clearfix">
									<h5>
										<a class="col_red" href="#">Charlo</a>
									</h5>
									<p class="mb-2">Printed on thick paper (250 g/m²)</p>
									<span class="col_red">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</span>
									<p class="mb-0">1 Views</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="trend_2im clearfix position-relative">
									<div class="trend_2im1 clearfix">
										<div class="grid">
											<figure class="effect-jazz mb-0">
												<a href="#"><img src="{{ asset('img/template/tab2.jpg') }}" class="w-100" alt="img25" height="350"></a>
											</figure>
										</div>
									</div>

								</div>
								<div class="trend_2ilast bg_grey p-3 clearfix">
									<h5>
										<a class="col_red" href="#">ART</a>
									</h5>
									<p class="mb-2">Discover or rediscover the full text of J.K.</p>
									<span class="col_red">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</span>
									<p class="mb-0">1 Views</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="trend_2im clearfix position-relative">
									<div class="trend_2im1 clearfix">
										<div class="grid">
											<figure class="effect-jazz mb-0">
												<a href="#"><img src="{{ asset('img/template/123961_1_m.jpg') }}" class="w-100" alt="img25" height="350"></a>
											</figure>
										</div>
									</div>

								</div>

								<div class="trend_2ilast bg_grey p-3 clearfix">
									<h5>
										<a class="col_red" href="#">Silence</a>
									</h5>
									<p class="mb-2">
										Rowling with sublime color illustrations</p>
									<span class="col_red">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</span>
									<p class="mb-0">1 Views</p>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</section>

<section id="popular" class="pt-4 pb-5 bg_grey">
	<div class="container">
		<div class="row trend_1">
			<div class="col-md-12">
				<div class="trend_1l">
					<h4 class="mb-0">
						<i class="fa fa-youtube-play align-middle col_red me-1"></i>
						Trending
						<span class="col_red">Events</span>
					</h4>
				</div>
			</div>
		</div>

		<div class="popular_2 row mt-4">
			<div class="tab-content">
				<div class="tab-pane active" id="home">
					<div class="popular_2i row">
						<div class="col-md-6">
							<div class="popular_2i1 row">
								<div class="col-md-4 col-4">
									<div class="popular_2i1lm position-relative clearfix">
										<div class="popular_2i1lm1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="{{ asset('img/template/event1.jpg') }}" class="w-100" height="200" ></a>
												</figure>
											</div>
										</div>
										<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
											<ul>
												<li class="d-inline-block">
													<a href="#">
														<i class="fa fa-link col_red"></i>
													</a>
												</li>
												<li class="d-inline-block">
													<a href="#">
														<i class="fa fa-search col_red"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-md-8 col-8">
									<div class="popular_2i1r">
										<h5>
											<a class="col_red" href="#">Semp Porta</a>
										</h5>
										<h6>Action, Thriller</h6>
										<h6>
											Imdb 8.2
											<span class="ms-2">
												<i class="fa fa-star col_red me-1"></i>
											</span>
											Year : 2022
											<span class="ms-2">Runtime: 1h 49m</span>
										</h6>
										<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
										<h6 class="mb-0">
											<a class="button" href="#">
												More Info - Trailer</a>
										</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="popular_2i1 row">
								<div class="col-md-4 col-4">
									<div class="popular_2i1lm position-relative clearfix">
										<div class="popular_2i1lm1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="{{ asset('img/template/event2.jpg') }}" class="w-100" height="200" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
											<ul>
												<li class="d-inline-block">
													<a href="#">
														<i class="fa fa-link col_red"></i>
													</a>
												</li>
												<li class="d-inline-block">
													<a href="#">
														<i class="fa fa-search col_red"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-md-8 col-8">
									<div class="popular_2i1r">
										<h5>
											<a class="col_red" href="#">Eget Diam</a>
										</h5>
										<h6>Action, Thriller</h6>
										<h6>
											Imdb 8.3
											<span class="ms-2">
												<i class="fa fa-star col_red me-1"></i>
											</span>
											Year : 2022
											<span class="ms-2">Runtime: 2h 29m</span>
										</h6>
										<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
										<h6 class="mb-0">
											<a class="button" href="#">
												More Info - Trailer</a>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="popular_2i row mt-4">
						<div class="col-md-6">
							<div class="popular_2i1 row">
								<div class="col-md-4 col-4">
									<div class="popular_2i1lm position-relative clearfix">
										<div class="popular_2i1lm1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="{{ asset('img/template/event3.jpg') }}" height="200" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
											<ul>
												<li class="d-inline-block">
													<a href="#">
														<i class="fa fa-link col_red"></i>
													</a>
												</li>
												<li class="d-inline-block">
													<a href="#">
														<i class="fa fa-search col_red"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-md-8 col-8">
									<div class="popular_2i1r">
										<h5>
											<a class="col_red" href="#">Quis Sem</a>
										</h5>
										<h6>Action, Thriller</h6>
										<h6>
											Imdb 8.4
											<span class="ms-2">
												<i class="fa fa-star col_red me-1"></i>
											</span>
											Year : 2022
											<span class="ms-2">Runtime: 1h 59m</span>
										</h6>
										<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
										<h6 class="mb-0">
											<a class="button" href="#">
												More Info - Trailer</a>
										</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="popular_2i1 row">
								<div class="col-md-4 col-4">
									<div class="popular_2i1lm position-relative clearfix">
										<div class="popular_2i1lm1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="{{ asset('img/template/event4.jpg') }}" height="200" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
											<ul>
												<li class="d-inline-block">
													<a href="#">
														<i class="fa fa-link col_red"></i>
													</a>
												</li>
												<li class="d-inline-block">
													<a href="#">
														<i class="fa fa-search col_red"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-md-8 col-8">
									<div class="popular_2i1r">
										<h5>
											<a class="col_red" href="#">Ipsum Lorem</a>
										</h5>
										<h6>Action, Thriller</h6>
										<h6>
											Imdb 8.6
											<span class="ms-2">
												<i class="fa fa-star col_red me-1"></i>
											</span>
											Year : 2022
											<span class="ms-2">Runtime: 1h 48m</span>
										</h6>
										<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
										<h6 class="mb-0">
											<a class="button" href="#">
												More Info - Trailer</a>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>


{{ block("footer") }}

 <script>
																																																																																		window.onscroll = function () {
																																																																														myFunction()
																																																																														};
																																																																														
																																																																														var navbar_sticky = document.getElementById("navbar_sticky");
																																																																													var sticky = navbar_sticky.offsetTop;
																																																																													var navbar_height = document.querySelector('.navbar').offsetHeight;
																																																																															
																																																																													function myFunction() {
																																																																															if (window.pageYOffset >= sticky + navbar_height) {
																																																																														navbar_sticky.classList.add("sticky")
																																																																														document.body.style.paddingTop = navbar_height + 'px';
																																																																														} else {
																																																																														navbar_sticky.classList.remove("sticky");
																																																																													document.body.style.paddingTop = '0'
																																																																													}
																																																																															}
																																																																															</script></body>{% endblock %}
