{% extends 'baseFront.html.twig' %}

{% block pageStyle %}
    <link href="{{ asset('https://cdn.jsdelivr.net/gh/aliammari1/rakcha-jsdelivr-cdn/public//css/about.css') }}" rel="stylesheet">
    <style>
        #calendrier {
            width: 70%;
            margin: auto;
        }

        .card {
            position: relative;
            width: 1200px;
            height: 200px;
            background-image: linear-gradient(black, black);
            border-color: rgba(206, 2, 1, 1);
            border-width: 5px;
            border-radius: 10px;
            display: flex;
            padding: 10px 30px;
            gap: 10px;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin-top: 20px;
            margin-left: 45px;
            transition: all 0.3s ease;
        }

        .card .card-content {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .card img {
            border-radius: 8px;
        }

        .card .heading {
            font-size: 30px;
            font-weight: bold;
            color: white;
            margin-left: 100px;
        }

        .card .para {
            text-align: center;
            color: #ffffff;
            font-size: 24px;
            opacity: 0.7;
            line-height: 1.2;
            margin-top: 5px;
            margin-left: 50px;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.6);
            transition: opacity 0.3s ease;
            pointer-events: none;
        }

        .card:hover .overlay {
            opacity: 1;
            pointer-events: auto;
        }

        .card .card-btn {
            position: absolute;
            bottom: 80px;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 600;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #ffffff;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 999;
            border: none;
            opacity: 0;
            scale: 0;
            transform-origin: 0 0;
            box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
            transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
        }

        .card:hover .card-btn {
            opacity: 1;
            scale: 1;
        }

        .card .card-btn:hover {
            box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
        }

        .card .card-btn:active {
            scale: 0.95;
        }

        .overlay::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            width: 100%;
            height: 100%;
            background-image: linear-gradient(-45deg, #f89b2980 0%, #ff0f7b80 100%);
            transition: transform 0.5s ease;
        }

        .card:hover .overlay::after {
            transform: translate(-50%, -50%) scale(2);
        }
    </style>
{% endblock %}

{% block body %}
    <body>

    {{ block("header") }}

    <section id="center" class="center_o pt-2 pb-2">
        <div class="container-xl">
            <div class="row center_o1">
                <div class="col-md-5">
                    <div class="center_o1l">
                        <h2 class="mb-0">Cinemas</h2>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="center_o1r text-end">
                        <h6 class="mb-0 col_red">
                            <a href="{{ path('app_film_index') }}">Home</a>
                            <span class="me-2 ms-2 text-light">
									<i class="fa fa-caret-right align-middle"></i>
								</span>
                            Cinemas</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div id="calendrier"></div>

    <div class="row g-3" id="seanceData" style="display: none">{{ seanceData | raw }}</div>

    {{ block("footer") }}

    <script>
        window.onscroll = function () {
            myFunction()
        };

        var navbar_sticky = document.getElementById("navbar_sticky");
        var sticky = navbar_sticky.offsetTop;
        var navbar_height = document.querySelector('.navbar').offsetHeight;

        function myFunction() {
            if (window.pageYOffset >= sticky + navbar_height) {
                navbar_sticky.classList.add("sticky");
                document.body.style.paddingTop = navbar_height + 'px';
            } else {
                navbar_sticky.classList.remove("sticky");
                document.body.style.paddingTop = '0';
            }
        }

        console.log("hello");
        document.addEventListener('DOMContentLoaded', (event) => {
            let formatTime = (timeStr) => {
                // Concaténer une date factice pour obtenir un format ISO 8601 complet
                let time = new Date(`2000-01-01T${timeStr}`);

                // Vérifier si la date est valide
                if (isNaN(time.getTime())) {
                    return "Invalid Date";
                }

                // Ajouter le fuseau horaire de la Tunisie
                let options = {
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                    timeZone: 'Africa/Tunis'
                };

                // Formater l'heure en temps local en Tunisie
                return time.toLocaleTimeString([], options);
            };


            let calendarElt = document.querySelector("#calendrier");
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridDay',
                locale: "tn",
                timeZone: "Africa/Tunis", // Spécifier le fuseau horaire
                eventDidMount: function (info) {
                    const eventEl = info.el;
                    const eventContent =
                        `<div class="card" style="display: flex;">
				<div class="card-content">
				<img src="${info.event.extendedProps.image}" alt="Movie" class="image" width="180" height="150">
				<div>
				<h3 class="heading">${info.event.title}</h3>
				<p class="para">Heure: ${formatTime(info.event.startStr.split('T')[1])} - ${formatTime(info.event.endStr.split('T')[1])}</p>
				<p class="para">Price: ${info.event.extendedProps.prix} DT</p>
				<p class="para">Room: ${info.event.extendedProps.salle}</p>
				<button class="card-btn">Réserver</button>
				</div>
				</div>
				<div class="overlay"></div>
				</div>`;
                    eventEl.innerHTML = eventContent;
                },
                dateClick: function (info) {
                    showSeancesByDate(info.dateStr);
                }
            });

            let seanceData = JSON.parse(document.getElementById('seanceData').textContent);
            seanceData.forEach(seance => {
                calendar.addEvent({
                    title: seance.title,
                    start: seance.start,
                    end: seance.end,
                    extendedProps: {
                        image: seance.image,
                        prix: seance.prix,
                        salle: seance.salle
                    }
                });
            });
            console.log(seanceData);

            calendar.render();
            showSeancesByDate(calendar.getDate().toISOString().split('T')[0]);
        });


        function showSeancesByDate(dateStr) {
            const cards = document.querySelectorAll('.card');
            cards.forEach(card => {
                if (card.dataset.date === dateStr) {
                    card.style.display = "flex";
                } else {
                    card.style.display = "none";
                }
            });
        }
    </script>
    </body>
{% endblock %}
