{% extends 'baseFront.html.twig' %}

{% block pageStyle %}
    <link href="{{ asset('https://cdn.jsdelivr.net/gh/aliammari1/rakcha-jsdelivr-cdn/public//css/about.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <body>

    {{ block("header") }}

    <section id="center" class="center_o pt-2 pb-2">
        <div class="container-xl">
            <div class="row center_o1">
                <div class="col-md-5">
                    <div class="center_o1l">
                        <h2 class="mb-0">Team</h2>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="center_o1r text-end">
                        <h6 class="mb-0 col_red">
                            <a href="#">Home</a>
                            <span class="me-2 ms-2 text-light">
									<i class="fa fa-caret-right align-middle"></i>
								</span>
                            Team</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="pt-4 pb-4 bg_grey">
        <div class="container-xl">
            <div class="team_1i row">
                <div class="col-md-4">
                    <div class="team_1i1 clearfix position-relative">
                        <div class="team_1i1i clearfix">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#"><img src="{{ asset('https://cdn.jsdelivr.net/gh/aliammari1/rakcha-jsdelivr-cdn/public/img/37.jpg') }}" class="w-100" alt="abc"></a>
                                </figure>
                            </div>
                        </div>
                        <div class="team_1i1i1 clearfix position-absolute w-100 bottom-0">
                            <h4 class="col_red">Semp Porta</h4>
                            <h6>Manager</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore. Aliquam ut elit venenatis, congue dolor ut, mattis leo</p>
                            <ul class="social-network social-circle mb-0 mt-3">
                                <li>
                                    <a href="#" class="icoRss" title="Rss">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoFacebook" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoTwitter" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoGoogle" title="Google +">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoLinkedin" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team_1i1 clearfix position-relative">
                        <div class="team_1i1i clearfix">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#"><img src="{{ asset('https://cdn.jsdelivr.net/gh/aliammari1/rakcha-jsdelivr-cdn/public/img/38.jpg') }}" class="w-100" alt="abc"></a>
                                </figure>
                            </div>
                        </div>
                        <div class="team_1i1i1 clearfix position-absolute w-100 bottom-0">
                            <h4 class="col_red">Dapibus Diam</h4>
                            <h6>Trainer</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore. Aliquam ut elit venenatis, congue dolor ut, mattis leo</p>
                            <ul class="social-network social-circle mb-0 mt-3">
                                <li>
                                    <a href="#" class="icoRss" title="Rss">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoFacebook" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoTwitter" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoGoogle" title="Google +">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoLinkedin" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team_1i1 clearfix position-relative">
                        <div class="team_1i1i clearfix">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#"><img src="{{ asset('https://cdn.jsdelivr.net/gh/aliammari1/rakcha-jsdelivr-cdn/public/img/39.jpg') }}" class="w-100" alt="abc"></a>
                                </figure>
                            </div>
                        </div>
                        <div class="team_1i1i1 clearfix position-absolute w-100 bottom-0">
                            <h4 class="col_red">Eget Nulla</h4>
                            <h6>Designer</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore. Aliquam ut elit venenatis, congue dolor ut, mattis leo</p>
                            <ul class="social-network social-circle mb-0 mt-3">
                                <li>
                                    <a href="#" class="icoRss" title="Rss">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoFacebook" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoTwitter" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoGoogle" title="Google +">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoLinkedin" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team_1i row mt-4">
                <div class="col-md-4">
                    <div class="team_1i1 clearfix position-relative">
                        <div class="team_1i1i clearfix">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#"><img src="{{ asset('https://cdn.jsdelivr.net/gh/aliammari1/rakcha-jsdelivr-cdn/public/img/40.jpg') }}" class="w-100" alt="abc"></a>
                                </figure>
                            </div>
                        </div>
                        <div class="team_1i1i1 clearfix position-absolute w-100 bottom-0">
                            <h4 class="col_red">Semp Porta</h4>
                            <h6>Manager</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore. Aliquam ut elit venenatis, congue dolor ut, mattis leo</p>
                            <ul class="social-network social-circle mb-0 mt-3">
                                <li>
                                    <a href="#" class="icoRss" title="Rss">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoFacebook" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoTwitter" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoGoogle" title="Google +">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoLinkedin" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team_1i1 clearfix position-relative">
                        <div class="team_1i1i clearfix">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#"><img src="{{ asset('https://cdn.jsdelivr.net/gh/aliammari1/rakcha-jsdelivr-cdn/public/img/41.jpg') }}" class="w-100" alt="abc"></a>
                                </figure>
                            </div>
                        </div>
                        <div class="team_1i1i1 clearfix position-absolute w-100 bottom-0">
                            <h4 class="col_red">Dapibus Diam</h4>
                            <h6>Trainer</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore. Aliquam ut elit venenatis, congue dolor ut, mattis leo</p>
                            <ul class="social-network social-circle mb-0 mt-3">
                                <li>
                                    <a href="#" class="icoRss" title="Rss">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoFacebook" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoTwitter" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoGoogle" title="Google +">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoLinkedin" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team_1i1 clearfix position-relative">
                        <div class="team_1i1i clearfix">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#"><img src="{{ asset('https://cdn.jsdelivr.net/gh/aliammari1/rakcha-jsdelivr-cdn/public/img/42.jpg') }}" class="w-100" alt="abc"></a>
                                </figure>
                            </div>
                        </div>
                        <div class="team_1i1i1 clearfix position-absolute w-100 bottom-0">
                            <h4 class="col_red">Eget Nulla</h4>
                            <h6>Designer</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore. Aliquam ut elit venenatis, congue dolor ut, mattis leo</p>
                            <ul class="social-network social-circle mb-0 mt-3">
                                <li>
                                    <a href="#" class="icoRss" title="Rss">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoFacebook" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoTwitter" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoGoogle" title="Google +">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoLinkedin" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ block("footer") }}

    <script>
        window.onscroll = function () {
            myFunction()
        };

        var navbar_sticky = document.getElementById("navbar_sticky");
        var sticky = navbar_sticky.offsetTop;
        var navbar_height = document.querySelector('.navbar').offsetHeight;

        function myFunction() {
            if (window.pageYOffset >= sticky + navbar_height) {
                navbar_sticky.classList.add("sticky")
                document.body.style.paddingTop = navbar_height + 'px';
            } else {
                navbar_sticky.classList.remove("sticky");
                document.body.style.paddingTop = '0'
            }
        }
    </script>
    </body>
{% endblock %}
