<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<title>Rakcha</title>
		<link href="{{ asset('https://cdn.jsdelivr.net/gh/aliammari1/rakcha-jsdelivr-cdn/public/css/bootstrap.min.css') }}" rel="stylesheet"/>
		<link href="{{ asset('https://cdn.jsdelivr.net/gh/aliammari1/rakcha-jsdelivr-cdn/public/css/font-awesome.min.css') }}" rel="stylesheet"/>
		<link href="{{ asset('https://cdn.jsdelivr.net/gh/aliammari1/rakcha-jsdelivr-cdn/public/css/global.css') }}" rel="stylesheet"/> {% block pageStyle %}{% endblock %}
		<link href="https://fonts.googleapis.com/css2?family=Rajdhani&amp;display=swap" rel="stylesheet"/>
		 <script src="{{ asset('https://cdn.jsdelivr.net/gh/aliammari1/rakcha-jsdelivr-cdn/public/js/bootstrap.bundle.min.js') }}"></script>
		 <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"/>  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
		<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css"/>
		<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css"/>
		 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		 <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/star-rating.min.js" type="text/javascript"></script>
		 <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.js"></script>
		 <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/locales/LANG.js"></script>
			<style>
.footer_li1 {
	margin-left: 500px;
}
.footer_2i {
	margin-left: 950px;
	margin-top: -110px;
	width: 100%;
}
	</style>

	</head>
		{% block body %}
			{% block header %}
				<section id="top"> <div class="container">
					<div class="row top_1 d-flex justify-content-evenly">
						<div class="col-md-3">
							<div class="top_1l pt-1">
								<h3 class="mb-0">
									<a class="text-white" href="{{ path('app_home_index') }}">
										<img height="50" src="{{ asset('https://cdn.jsdelivr.net/gh/aliammari1/rakcha-jsdelivr-cdn/public/img/Logo.png') }}" alt="Rakcha">
										Rakcha
									</a>
								</h3>
							</div>
						</div>
						<div class="col-md-5 d-flex align-items-center justify-content-center">
							<div class="top_1m">
								<div class="input-group">
									<label>
										<input style="width: 20vw;" class="form-control bg-black" placeholder="Search Site..." type="text"/>
									</label>
									<span class="fa fa-search" style="width: 43px;display: flex;align-items: center;justify-content: center;background: #383838;"></span>
								</div>
							</div>
						</div>
						<div class="col-md-1">
							{% if is_granted('ROLE_USER') %}
								<div class="d-flex justify-content-center align-items-center">
									<div class="dropdown-center ms-4">
										<img src="{{asset(app.user.photoDeProfil)}}" class="rounded-circle" alt="Profile Picture" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="width: 60px; height: 60px;">

										<ul class="dropdown-menu">
											<li>
												<a class="dropdown-item" href="{{path('app_profile_index',{'id':app.user.id})}}">profile</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{path('app_logout')}}">logout</a>
											</li>
											{% if is_granted('ROLE_ADMIN') %}
												<li>
													<a class="dropdown-item" href="{{ path('app_users_index') }}">Admin Dashboard</a>
												</li>
											{% endif %}
											{% if is_granted('ROLE_RESPONSABLE_DE_CINEMA') %}
												<li>
													<a class="dropdown-item" href="{{ path('app_cinema_index') }}">Responsable Dashboard</a>
												</li>
											{% endif %}
										</ul>
									</div>
									<a href="{{ path('app_panier_liste') }}" class="ms-4">
										<i class="fa fa-shopping-cart fa-2x"></i>
									</a>
									
								</div>
							{% else %}
								<div class="d-flex">
									<a href="{{path('app_login')}}" class="me-4">
										<button class="btn btn-danger" style="background: #de1002;">
											login
										</button>
									</a>
									<a href="{{path('app_register')}}">
										<button class="btn btn-danger" style="background: #de1002;">
											register
										</button>
									</a>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</section>
			<section id="header">
				<nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
					<div class="container">
						<a class="navbar-brand text-white fw-bold" href="{{ path('app_home_index') }}">{{ 'Rakcha' }}</a>
						<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mb-0">
								<li class="nav-item">
									<a aria-current="page" class="nav-link active" href="{{ path('app_home_index') }}">{{ 'Home' }}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_listfilms_index') }}">{{ 'film' }}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_cinema_liste') }}">{{ 'cinemas' }}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_produit_liste') }}">Products</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_series_liste') }}">Series</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="">{{ 'Contact Us' }}</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</section>
		{% endblock %}
		{% block footer %}

			<section id="footer">
				<div class="footer_m clearfix">
					<div class="container">
						<div class="row footer_1">
							<div class="col-md-4">
								<div class="footer_li1">
									<a href="#"><img src="{{ asset('https://cdn.jsdelivr.net/gh/aliammari1/rakcha-jsdelivr-cdn/public/img/Logo.png') }}" height="400" width="400" alt="img25"></a>
								</div>
								<div class="footer_1i">
									<p class="mt-3">Discover our website, Rakcha, conveniently located at our address. For assistance or inquiries, feel free to reach us at our telephone number
																																																																			      																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                                    tempor incididunt. Lorem ipsum dolor sit amet consect etur.
									</p>
								</div>
								<div class="footer_2i">
									<h6 class="fw-normal">
										<i class="fa fa-map-marker fs-5 align-middle col_red me-1"></i>
										Ariana Soghra Esprit.
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																													                                    Pakland, DE 13507</h6>
									<i class="fa fa-envelope fs-5 align-middle col_red me-1"></i>
									Rakcha@gmail.com</h6>
								<h6 class="fw-normal mt-3 mb-0">
									<i class="fa fa-phone fs-5 align-middle col_red me-1"></i>
									+216 29201398</h6>
							</div>
						</div>
						<di class="col-md-4">
							<div class="footer_1i">

								<div class="footer_1i1 row mt-4">
									<div class="col-md-3 col-3">
										<div class="footer_1i1i">
											<div class="grid clearfix">
												<figure class="effect-jazz mb-0">
													<a href="#"></a>
												</figure>
											</div>
										</div>
									</div>
									<div class="col-md-3 col-3">
										<div class="footer_1i1i">
											<div class="grid clearfix">
												<figure class="effect-jazz mb-0">
													<a href="#"></a>
												</figure>
											</div>
										</div>
									</div>
									<div class="col-md-3 col-3">
										<div class="footer_1i1i">
											<div class="grid clearfix">
												<figure class="effect-jazz mb-0">
													<a href="#"></a>
												</figure>
											</div>
										</div>
									</div>
									<div class="col-md-3 col-3">
										<div class="footer_1i1i">
											<div class="grid clearfix">
												<figure class="effect-jazz mb-0">
													<a href="#"></a>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="footer_1i1 row mt-3">
									<div class="col-md-3 col-3">
										<div class="footer_1i1i">
											<div class="grid clearfix">
												<figure class="effect-jazz mb-0">
													<a href="#"></a>
												</figure>
											</div>
										</div>
									</div>
									<div class="col-md-3 col-3">
										<div class="footer_1i1i">
											<div class="grid clearfix">
												<figure class="effect-jazz mb-0">
													<a href="#"></a>
												</figure>
											</div>
										</div>
									</div>
									<div class="col-md-3 col-3">
										<div class="footer_1i1i">
											<div class="grid clearfix">
												<figure class="effect-jazz mb-0">
													<a href="#"></a>
												</figure>
											</div>
										</div>
									</div>
									<div class="col-md-3 col-3">
										<div class="footer_1i1i">
											<div class="grid clearfix">
												<figure class="effect-jazz mb-0">
													<a href="#"></a>
												</figure>
											</div>
										</div>
									</div>
								</div>
							</div>
						</di</div>
					</div>
				</div>
			</html>
		</html>
	</div>
</html></html></section><section class="pt-3 pb-3 bg_grey" id="footer_b"><div class="container">
<div class="row footer_1">
	<div class="col-md-8">
		<div class="footer_1l">
			<p class="mb-0">{{ '© 2013 Your Website Name. All Rights Reserved | Design byTemplateOnWeb' }}</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="footer_1r">
			<ul class="mb-0">
				<li class="d-inline-block me-2">
					<a href="#">{{ 'Home' }}</a>
				</li>
				<li class="d-inline-block me-2">
					<a href="#">{{ 'Features' }}</a>
				</li>
				<li class="d-inline-block me-2">
					<a href="#">{{ 'Pages' }}</a>
				</li>
				<li class="d-inline-block me-2">
					<a href="#">{{ 'Portfolio' }}</a>
				</li>
				<li class="d-inline-block me-2">
					<a href="#">{{ 'Blog' }}</a>
				</li>
				<li class="d-inline-block">
					<a href="#">{{ 'Contact' }}</a>
				</li>
			</ul>
		</div>
	</div>
</div></div></section>{% endblock %}{% endblock %}</html>
