<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<title>Planet</title>
		<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
		<link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet"/>
		<link href="{{ asset('css/global.css') }}" rel="stylesheet"/> {% block pageStyle %}{% endblock %}
		<link href="https://fonts.googleapis.com/css2?family=Rajdhani&amp;display=swap" rel="stylesheet"/>
		<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
	</head>
	{% block body %}
		{% block header %}
			<section id="top">
				<div class="container">
					<div class="row top_1">
						<div class="col-md-3">
							<div class="top_1l pt-1">
								<h3 class="mb-0">{{  'Planet'|auto_translate }}</h3>
							</div>
						</div>
						<div class="col-md-5">
							<div class="top_1m">
								<div class="input-group">
									<input class="form-control bg-black" placeholder="Search Site..." type="text"/>
									<span class="input-group-btn">{{ 'Search'|auto_translate }}</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="top_1r text-end">
								<ul class="social-network social-circle mb-0">
									<li>
										<a class="icoRss" href="#" title="Rss"></a>
									</li>
									<li>
										<a class="icoFacebook" href="#" title="Facebook"></a>
									</li>
									<li>
										<a class="icoTwitter" href="#" title="Twitter"></a>
									</li>
									<li>
										<a class="icoGoogle" href="#" title="Google +"></a>
									</li>
									<li>
										<a class="icoLinkedin" href="#" title="Linkedin"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="header">
				<nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
					<div class="container">
						<a class="navbar-brand text-white fw-bold" href="index.html.twig">{{ 'Planet'|auto_translate }}</a>
						<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mb-0">
								<li class="nav-item">
									<a aria-current="page" class="nav-link active" href="index.html.twig">{{ 'Home'|auto_translate }}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="about.html.twig">{{ 'About Us'|auto_translate }}</a>
								</li>
								<li class="nav-item dropdown">
									<a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdown" role="button">{{ 'Blog'|auto_translate }}</a>
									<ul aria-labelledby="navbarDropdown" class="dropdown-menu drop_1">
										<li>
											<a class="dropdown-item" href="blog.html.twig">{{ 'Blog'|auto_translate }}</a>
										</li>
										<li>
											<a class="dropdown-item border-0" href="blog_detail.html.twig">{{ 'Blog Detail'|auto_translate }}</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="services.html.twig">{{ 'Services'|auto_translate }}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="team.html.twig">{{ 'Team'|auto_translate }}</a>
								</li>
								<li class="nav-item dropdown">
									<a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdown" role="button">{{ 'Pages'|auto_translate }}</a>
									<ul aria-labelledby="navbarDropdown" class="dropdown-menu drop_1">
										<li>
											<a class="dropdown-item" href="about.html.twig">{{ 'About Us'|auto_translate }}</a>
										</li>
										<li>
											<a class="dropdown-item" href="services.html.twig">{{ 'Services'|auto_translate }}</a>
										</li>
										<li>
											<a class="dropdown-item" href="team.html.twig">{{ 'Team'|auto_translate }}</a>
										</li>
										<li>
											<a class="dropdown-item border-0" href="contact.html.twig">{{ 'Contact'|auto_translate }}</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="contact.html.twig">{{ 'Contact Us'|auto_translate }}</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</section>
		{% endblock %}
		{% block footer %}

			<section id="footer">
				<div class="footer_m clearfix">
					<div class="container">
						<div class="row footer_1">
							<div class="col-md-4">
								<div class="footer_1i">
									<h3>{{  'Planet'|auto_translate }}</h3>
									<p class="mt-3">{{  'Lorem ipsum dolor sit amet consect etur adi pisicing elit sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet consect etur.'|auto_translate }}</p>
									<h6 class="fw-normal">{{  '5311 Ceaver Sidge Td.Pakland, DE 13507'|auto_translate }}</h6>
									<h6 class="fw-normal mt-3">{{  'info@gmail.com'|auto_translate }}</h6>
									<h6 class="fw-normal mt-3 mb-0">{{  '+123 123 456'|auto_translate }}</h6>
								</div>
							</div>
							<div class="col-md-4">
								<div class="footer_1i">
									<h4>{{  'FlickrStream'|auto_translate }}</h4>
									<div class="footer_1i1 row mt-4">
										<div class="col-md-3 col-3">
											<div class="footer_1i1i">
												<div class="grid clearfix">
													<figure class="effect-jazz mb-0">
														<a href="#"></a>
													</figure>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-3">
											<div class="footer_1i1i">
												<div class="grid clearfix">
													<figure class="effect-jazz mb-0">
														<a href="#"></a>
													</figure>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-3">
											<div class="footer_1i1i">
												<div class="grid clearfix">
													<figure class="effect-jazz mb-0">
														<a href="#"></a>
													</figure>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-3">
											<div class="footer_1i1i">
												<div class="grid clearfix">
													<figure class="effect-jazz mb-0">
														<a href="#"></a>
													</figure>
												</div>
											</div>
										</div>
									</div>
									<div class="footer_1i1 row mt-3">
										<div class="col-md-3 col-3">
											<div class="footer_1i1i">
												<div class="grid clearfix">
													<figure class="effect-jazz mb-0">
														<a href="#"></a>
													</figure>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-3">
											<div class="footer_1i1i">
												<div class="grid clearfix">
													<figure class="effect-jazz mb-0">
														<a href="#"></a>
													</figure>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-3">
											<div class="footer_1i1i">
												<div class="grid clearfix">
													<figure class="effect-jazz mb-0">
														<a href="#"></a>
													</figure>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-3">
											<div class="footer_1i1i">
												<div class="grid clearfix">
													<figure class="effect-jazz mb-0">
														<a href="#"></a>
													</figure>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="footer_1i">
									<h4>{{  'SignNewsletter'|auto_translate }}</h4>
									<p class="mt-3">{{  'Subscribe to our newsletter list to get latest news and updates from us'|auto_translate }}</p>
									<div class="input-group">
										<input class="form-control bg-black" placeholder="Email" type="text"/>
										<span class="input-group-btn">{{ 'Subscribe'|auto_translate }}</span>
									</div>
									<ul class="social-network social-circle mb-0 mt-4">
										<li>
											<a class="icoRss" href="#" title="Rss"></a>
										</li>
										<li>
											<a class="icoFacebook" href="#" title="Facebook"></a>
										</li>
										<li>
											<a class="icoTwitter" href="#" title="Twitter"></a>
										</li>
										<li>
											<a class="icoGoogle" href="#" title="Google +"></a>
										</li>
										<li>
											<a class="icoLinkedin" href="#" title="Linkedin"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="pt-3 pb-3 bg_grey" id="footer_b">
				<div class="container">
					<div class="row footer_1">
						<div class="col-md-8">
							<div class="footer_1l">
								<p class="mb-0">{{  '© 2013 Your Website Name. All Rights Reserved | Design byTemplateOnWeb'|auto_translate }}</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="footer_1r">
								<ul class="mb-0">
									<li class="d-inline-block me-2">
										<a href="#">{{ 'Home'|auto_translate }}</a>
									</li>
									<li class="d-inline-block me-2">
										<a href="#">{{ 'Features'|auto_translate }}</a>
									</li>
									<li class="d-inline-block me-2">
										<a href="#">{{ 'Pages'|auto_translate }}</a>
									</li>
									<li class="d-inline-block me-2">
										<a href="#">{{ 'Portfolio'|auto_translate }}</a>
									</li>
									<li class="d-inline-block me-2">
										<a href="#">{{ 'Blog'|auto_translate }}</a>
									</li>
									<li class="d-inline-block">
										<a href="#">{{ 'Contact'|auto_translate }}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
		{% endblock %}
	{% endblock %}

</html>
