{% extends 'base.html.twig' %}

{% block title %}Filmcategory index{% endblock %}

{% block body %}
    <h1>Filmcategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>FilmId</th>
                <th>CategoryId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for filmcategory in filmcategories %}
            <tr>
                <td>{{ filmcategory.filmId }}</td>
                <td>{{ filmcategory.categoryId }}</td>
                <td>
                    <a href="{{ path('app_filmcategory_show', {'filmId': filmcategory.filmId}) }}">show</a>
                    <a href="{{ path('app_filmcategory_edit', {'filmId': filmcategory.filmId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_filmcategory_new') }}">Create new</a>
{% endblock %}
